.section1 .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top_banner_slider .banner {
  background-color: #61C2EF;
  height: calc(100vh - 72px); }
  .top_banner_slider .banner h1 {
    color: #2F3370;
    max-width: 500px;
    margin-bottom: 45px; }
  .top_banner_slider .banner p {
    font-size: 18px;
    line-height: 29px;
    max-width: 598px; }
  .top_banner_slider .banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .top_banner_slider .banner img {
    margin-right: 55px; }

.top_banner_slider .slick-dots {
  list-style: none;
  position: absolute;
  right: 9px;
  top: calc(50% - 25px);
  text-align: right;
  padding: 0;
  margin: 0; }
  .top_banner_slider .slick-dots li button {
    width: 55px;
    height: 2px;
    background: #2F3370;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    border: none;
    font-size: 0px;
    line-height: 3px;
    cursor: pointer; }
  .top_banner_slider .slick-dots .slick-active button {
    width: 40px; }

.top_banner_slider .top_banner_slider_arrowsBox {
  position: absolute;
  right: 10px;
  bottom: 0; }

.top_banner_slider .prev_btn,
.top_banner_slider .next_btn {
  height: 100px;
  width: 56px; }

.top_banner_slider .next_btn {
  background: url("../media/Arrow_right.svg") rgba(255, 255, 255, 0.7); }
