.catalog {
  background-color: #F5F5F5;
  padding-bottom: 275px;
  position: relative;
  h1 {
    margin-bottom: 53px;
  }
  h4 {
    font-weight: $semibold;
    margin-bottom: 20px;
  }
}
#sidebar {
  background: #ffffff;
  color: #fff;
  position: sticky;
  top: 95px;
  &.shown {
    left: 0;
    top: 54px;
    z-index: 2;
    width: 100%;
  }
}


#sidebar ul.components {
  padding: 0;
  margin: 0;
  list-style-type: none;
  &>li {
    min-height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 34px 0 0;
    & > a {
      border-left: 4px solid #FFFFFF;
      display: flex;
      align-items: center;
      width: 100%;
    }

    &.withDropMenu:after {
      content: url(../media/shevron.svg);
      position: absolute;
      top: calc(50% - 24px);
      right: 3px;
      cursor: pointer;
      height: 8px;
      display: inline-block;
      line-height: 0;
      padding: 20px 10px 30px;
    }
    &:hover,
    &.active-item {
      background: #F9F9F9;
      & > a {
        border-left: 4px solid $color-blue;
      }
    }
    &.withDropMenu.opened:after {
      content: url(../media/shevron2_hover.svg);
      top: 5px;
    }
  }

  li.withDropMenu {
    &>a {
      position: relative;
      display: flex;
      align-items: center;
      width: available;
      width: -moz-available;
      width: -webkit-fill-available;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 15%;
        width: 1px;
        height: 70%;
        background-color: #222222;
        opacity: 0.2;
      }
    }
    &.opened {
      background-color: #eeeeee;
      & > a {
        border-left: 4px solid $color-blue;
        color: $color-blue;
      }
    }
  }

  .drop-menu {
    padding: 0;
    width: 100%;
    display: none;
    li  {
      min-height: 54px;
      display: flex;
      align-items: center;
      margin-right: -34px;
      &:hover,
      &.activeItem {
        background: $color-blue;
        a {
          color: #FFFFFF;
        }
      }
      a {
        font-weight: normal;
        color: #333333;
        font-size: 14px;
        padding: 19px 10px 11px 34px;
        width: 100%;
      }
    }
    &.show {
      display: block;
    }
  }
}


#sidebar>ul li a {
  font-weight: $semibold;
  font-size: 14px;
  color: #000000;
  padding: 15px 0 15px 12px;
  min-height: 60px;
}

.filter-btn:not(.back-btn) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 48px;
  .fa-filter {
    margin-right: 8px;
  }
}

#sidebar .back-btn {
  width: 20px;
  height: 15px;
  background: url("../media/Arrow-sm.svg") no-repeat;
  transform: rotate(180deg);
  margin: 20px 0 10px 16px;
}

.catalog-item {
  background-color: #FFFFFF;
  border-radius: 4px;
  align-items: center;
  padding: 30px 15px;
  position: relative;
  margin-bottom: 30px;
  img {
    max-width: 100%;
    width: 100%;
  }
  span.link--arrowed {
    margin-right: auto;
    margin-left: calc(100% - 30px);
  }
  &:hover {
    box-shadow: 0px 0px 12px rgba(196, 196, 196, 0.8);
    .arrow-icon {
      transform: translate3d(5px, 0, 0);
    }
    .arrow-icon--circle {
      stroke-dashoffset: 0;
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  z-index: 1;
  position: absolute;
  bottom: 190px;
  width: 100%;
  .prev-page,
  .next-page {
    width: 30px;
    height: 20px;
    background: url("../media/arrow_left_default.svg") no-repeat center;
    transition: all .2s;
    &:hover {
      background: url("../media/arrow_left_default_hover.svg") no-repeat center;
    }
  }
  .next-page {
    transform: rotate(180deg);
    transform-origin: center;
  }
  span {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: 0 3px;
    text-align: center;
    display: inline-block;
    a {
      color: $color-violet;
    }
    &.current {
      background: linear-gradient(90deg, #0085E6 0%, #61C2EF 100%);
      color: #FFFFFF;
    }
  }
}


//====== download catalog=======

.cat-downloads {
  img {
    max-width: 120px;
  }
  .gradient-btn {
    margin-right: 20px;
  }
}