.contacts {
  .common-contacts {
    background: #F5F5F5;
    padding-bottom: 80px;
  }
  .personal-contacts {
    padding-top: 71px;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-weight: $semibold;
      line-height: 40px;
    }
    p {
      margin: 20px 0 15px;
      color: #555555;
    }
  }
  h2 {
    margin: 45px 0 0;
  }
.contact-form {
  position: static;
  display: flex;
  max-width: none;
  form {
    width: 100%;
  }
}
  .map-wrap {
    margin-top: 71px;
    .container {
      display: flex;
      justify-content: center;
    }
  }
}
.contacts-col {
  font-size: 16px;
  line-height: 32px;
  .address {
    margin: 57px 0 40px;
  }
  .note {
    color: #555555;
    font-size: 12px;
  }
}
.tel-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  font-weight: bold;
}