@import "vars";

.section1 .slick-slider .slick-list {
  transform: rotate(180deg);
}

.section1 .slick-initialized .slick-slide {
  display: flex;
  transform: rotate(180deg);
}

.top_banner_slider {
  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    h1 {
      color: $color-violet;
      max-width: 500px;
      margin-bottom: 45px;
    }

    p {
      font-size: 18px;
      line-height: 29px;
      max-width: 598px;
    }

    .container {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 55px;
    }
  }

  .slick-dots {
    list-style: none;
    position: absolute;
    left: 10px;
    top: 30px;
    text-align: right;
    padding: 0;
    margin: 0;

    li button {
      width: 55px;
      height: 2px;
      background: $color-violet;
      transition: all 0.5s;
      display: inline-block;
      border: none;
      font-size: 0px;
      line-height: 3px;
      cursor: pointer;
    }

    .slick-active button {
      width: 40px;
      text-indent: -60px;
      line-height: 0;
      font-size: 18px;
      font-family: $raleway;
      font-weight: $extrabold;
      color: $color-violet;
    }
  }

}

.top_banner_slider_arrowsBox {
  position: absolute;
  left: 10px;
  bottom: 0;

  .prev_btn,
  .next_btn {
    height: 120px;
    width: 56px;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
    }
  }

  .next_btn {
    background-image: url("../media/Arrow_left.svg");
    background-position-y: 0;
  }

  .prev_btn {
    background-image: url("../media/Arrow_right.svg");
    background-position-y: 100%;
  }
}


.section-wrapper {
  background: url("../media/wave-bg.svg") $color-grey;
  padding-bottom: 260px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.home-catalog {
  padding: 93px 15px;

  h1 {
    color: $color-violet;
    margin-bottom: 68px;
  }
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-gap: 32px;

  .card {
    font-size: 18px;
    line-height: 29px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(196, 196, 196, 0.5);
    min-height: 240px;

    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: none;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: linear-gradient(90deg, #61C2EF 0%, #ABE5FF 50%);
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
    }

    &:hover {
      .go-corner {
        background: transparent;
      }

      &:before {
        transform: scale(28);
      }
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      height: 100%;
      height: available;
      height: -webkit-fill-available;

    }

    img {
      max-height: 132px;
      height: 132px;
      max-width: 100%;
    }

    p {
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: $semibold;
      line-height: 120%;
    }
  }
}

.home-news {
  h1 {
    color: $color-violet;
  }
}

.news-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;

  .card {
    margin: 0 0 32px 32px;
    width: calc(33.3333% - 32px);
    img {
      width: 100%;
      height: 240px;
      object-fit: none;
    }
  }

  .card,
  .card-sm {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(196, 196, 196, 0.5);
    border-radius: 4px;
    border: none;

    a {
      padding: 15px;
      height: 100%;
    }

    p {
      line-height: 29px;
      font-size: 18px;
      font-weight: $semibold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    img {
      margin-bottom: 14px;
      max-width: 100%;
      max-height: 100%;
    }

    span {
      font-weight: 300;
      line-height: 26px;
      color: #7F899D;
    }

    span.link--arrowed {
      margin-right: auto;
      margin-left: calc(100% - 30px);
      width: 30px;
      height: 30px;
    }

    &:hover {
      .arrow-icon {
        transform: translate3d(5px, 0, 0);
      }

      .arrow-icon--circle {
        stroke-dashoffset: 0;
      }

      p {
        color: $color-violet;
      }
    }

  }

  .card-column {
    margin: 0 0 32px 32px;
    width: calc(33.3333% - 32px);
  }

  .card-sm {
    min-height: calc(50% - 16px);

    img {
      border-radius: 50%;
      max-width: 92px;
      max-height: 92px;
      margin-bottom: 0;
      margin-right: 14px;
    }

    &:first-child {
      margin-bottom: 32px;
    }

    span.link--arrowed {
      position: absolute;
      bottom: 20px;
      right: 15px;
    }

    a {
      display: flex;
      padding-bottom: 35px;
    }
  }
}

@-moz-document url-prefix() {
  .news-flex .card-sm p,
  .news-flex .card p {
    max-height: 87px;
    overflow: hidden;
  }
}

.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;

  .arrow-icon {
    position: relative;
    top: -1px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }

  .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }
}

.news-page-link {
  margin-top: 48px;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;

  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;

    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      border-radius: 30px;
      background: linear-gradient(90deg, #0085E6 0%, #61C2EF 100%);
      width: 48px;
      height: 48px;
      transition: all .3s ease;
    }

    span {
      position: relative;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      vertical-align: middle;
      color: $color-violet;
    }

    img {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease;
    }

    &:hover {
      &:before {
        width: 100%;

        img {
          transform: translateX(0)
        }
      }
    }

    &:active {
      transform: scale(.96)
    }
  }
}

@-moz-document url-prefix() {
  .news-grid .card p {
    max-height: 84px;
    overflow: hidden;
  }
}

//===========NO SEARCH RESULTS PAGE============

.no-search-results {
  h2 {
    font-family: $open-sans;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $color-blue;
    max-width: 460px;
    margin: 0 auto 43px;
  }

  .search-img {
    margin: 72px auto;
    text-align: center;
  }

}