@media (max-width: 320px) {
  header .contact-form {
    display: block;
    position: fixed;
    bottom: 0;
    top: 68px;
    overflow: auto;
    height: auto;

    .form-item,
    .download-file {
      width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .program {
    h1 {
      padding-top: 26px;
    }
  }
  .news-item {
    h1 {
      padding-top: 26px;
    }
  }
  .news {
    h1 {
      padding-top: 26px;
    }
  }
  body h1 {
    font-size: 20px !important;
    line-height: 23px !important;
  }
  .home-catalog .catalog-grid {
    grid-template-columns: 1fr;
  }

  .section-wrapper {
    padding-bottom: 160px;
  }

  body footer {
    padding-top: 31px;

    .phones {
      margin-left: 30px;
      margin-top: 16px;

      &:before {
        left: 17px;
      }

      a {
        width: max-content;
      }
    }

    &:before {
      display: none;
    }

    .footer-logo {
      position: static;
      margin: 0 0 23px;
    }
  }
  .pagination {
    position: static;
  }
  main {
    padding-bottom: 64px;
  }
  .about-slider-arrows {
    display: none;
  }
  body .program {
    h1 {
      margin-bottom: 44px;
    }

    .program-descr-wrap {
      padding: 35px 15px 40px;
    }

    h2 {
      margin-bottom: 30px;
    }
  }
  body .certificates {
    h1 {
      margin-bottom: 44px;
    }

    .docs-grid p {
      font-size: 12px;
      line-height: 18px;
    }

    .docs-grid .card img {
      max-height: 248px;
    }
  }

  .top_banner_slider_arrowsBox {
    display: none;
  }
  .top_banner_slider .banner {
    height: 360px !important;
  }
  header .contact-form {
    padding: 45px 10px 20px 10px;
  }
}

@media (max-width: 767.98px) {
  main {
    .breadcrumb {
      margin-bottom: 43px;
    }

    .contact-form {
      padding: 39px 0 48px 0;

      .form-item {
        max-width: none;
      }
    }
  }

  .news-item .gradient-btn {
    margin-bottom: 55px;
  }
  .news-item p {
    font-size: 14px;
    line-height: 21px;
  }
  .news-item .news-date {
    font-size: 15px;
  }
  .news-descr {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .catalog-grid {
    grid-template-columns: 1fr 1fr;
  }
  .about {
    nav {
      display: none;
    }

    h1 {
      margin: 0 0 49px;
    }

    h2 {
      margin-top: 60px;
    }
  }
  .history {
    padding-top: 40px;
    background: linear-gradient(180deg, rgba(97, 194, 239, 0.4) 0%, rgba(255, 255, 255, 0.4) 44.6%);
  }
  main .docs-grid {
    grid-template-columns: 1fr;
  }
  .contacts {
    h2 {
      margin-top: 40px;
    }

    .map-wrap {
      margin-top: 61px;
    }

    .personal-contacts {
      padding-top: 20px;
    }
  }
  #sidebar {
    position: fixed;
    left: -120vw;
    transition: .3s;
    bottom: 0;
    overflow-y: auto;

    li.withDropMenu:hover > a:after {
      display: none;
    }
  }
  .home-news {
    background: linear-gradient(180deg, #61C2EF 0%, #FFFFFF 100%);
    padding-top: 56px;

    h1 {
      margin-bottom: 40px;
    }
  }
  .news,
  .home-news {
    .news-flex {
      margin-left: 0;
    }

    .card-column {
      flex-direction: column;
    }

    .card,
    .card-sm {
      width: 100% !important;
      margin: 0 0 30px 0 !important;
    }
  }
  .news {
    background: linear-gradient(89.24deg, #FFFFFF 3.49%, rgba(97, 194, 239, 0.4) 99.37%);
  }
  header .header-btm {
    .logo-sm {
      display: block;
    }
  }
  header {
    .header-btm .drop-menu ul a {
      white-space: normal;
    }

    .dropdown-item {
      white-space: normal;
    }
  }
  .home-catalog {
    padding: 60px 15px;
    h1 {
      margin-bottom: 43px;
    }
  }
}

@media (max-width: 991.98px) {
  .news-item {
    h1 {
      padding-top: 55px;
    }
  }
  main {
    h1 {
      font-size: 30px;
      line-height: 45px;
    }

    h2 {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .design-pr {
    display: none;
  }
  body footer {
    .footer-info {
      margin-top: 40px;
      text-align: center;

      span:first-child {
        margin-bottom: 44px;
      }
    }

    &:before {
      background-position-x: 25%;
    }

  }
  .docs-grid {
    .card {
      flex-direction: column;
    }

    .review-thumb {
      text-align: center;
    }

    p {
      margin-left: 0;
      margin-top: 30px;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .catalog-item {
    p {
      display: none;
    }
  }
  .product {
    h1 {
      margin-bottom: 52px;
    }

    .short-descr {
      font-size: 16px;
      line-height: 24px;

      p {
        margin-bottom: 49px;
      }
    }

    .tab-content {
      margin-top: 18px;
    }
  }
  .product-description {
    display: none;
  }
  .news-item {
    padding-bottom: 120px;
    z-index: 2;

    .gradient-btn {
      margin-bottom: 55px;
    }

  }
  .news-img {
    img {
      height: 224px;
    }
  }
  .program {
    h1 {
      margin-bottom: 48px;
    }
  }
  .certificates {
    h1 {
      margin-bottom: 48px;
    }

    .docs-grid .card {
      padding: 30px 15px 14px;
    }
  }
  .header-btm {
    #ask-btn {
      span {
        display: none;
      }

      background: none;
      position: relative;
      width: 30px;
      height: 30px;
      margin-right: 15px;

      &:after {
        content: url("../media/question.svg");
        position: absolute;
        display: inline-block;
        top: 3px;
        cursor: pointer;
      }
    }
  }
  .header-btm .phones-block {
    &:before {
      color: $color-violet;
    }

    .more_btn {
      background: none;
      margin-left: -23px;
    }
  }
  header .header-btm .container {
    justify-content: flex-end;

    .logo, .logo-sm {
      margin-right: auto;
    }
  }
  .header-btm .open-search {
    margin-right: 20px;
  }
  header .phones-popup {
    right: -150px;
  }
  .news {
    h1 {
      padding-top: 43px;
    }
  }
  .program {
    h1 {
      padding-top: 43px;
    }
  }
}


@media (max-width: 1199.98px) {
  header .header-btm {
    .navbar-collapse {
      position: fixed;
      overflow-y: auto;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 8px #C4C4C4;
      border-radius: 4px;

      .nav {
        flex-direction: column;

        .nav-item {
          .nav-link {
            border-left: 4px solid #FFFFFF;

            &:after {
              right: -20px;
            }

            &.active {
              border-left: 4px solid $color-light-blue;

              &:after {
                content: url("../media/shevron2_hover.svg");
              }
            }
          }
        }
      }

    }

    .drop-menu {
      position: static;
      height: 0;
      overflow: hidden;
      padding: 0;
      margin-left: 37px;

      ul {
        display: none;
      }

      &.with-columns {
        flex-direction: column;
      }

      &.show {
        height: auto;
      }

      .dropdown-item {
        display: table;
        width: auto;
        margin-right: 45px;
      }
    }

    .nav-item:hover:after {
      display: none
    }

    nav {
      order: 3;
    }
  }

  .openSubmenu {
    width: 45px;
    height: 25px;
    background: url("../media/shevron.svg") no-repeat center;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: -27px;

    &.opened {
      background: url("../media/shevron2_hover.svg") no-repeat center;
    }
  }

  .header-top {
    display: none;
  }

  .contacts-col {
    margin-bottom: 60px;
  }
  .contact-form {
    margin: 0 auto;
  }
  .news-flex {
    .card {
      width: calc(50% - 32px);
    }

    .card-column {
      width: 100%;
      display: flex;
      margin-left: 0;

      .card-sm {
        width: calc(50% - 32px);
        margin-left: 32px;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
  header {
    .location {
      margin-left: 20px;
      margin-top: 23px;
      margin: 20px 0 20px 20px;
      color: #F5F5F5;

      a.active {
        color: $color-blue;
      }
    }
  }
  body .top_banner_slider {
    .banner {
      height: calc(100vh - 67px);
    }
  }
}


@media (min-width: 576px) {
  main {
    padding-bottom: 260px;
  }
}

@media (min-width: 768px) {
  .catalog .filter-btn {
    display: none;
  }
}

@media (min-width: 992px) {
  .news-item {
    h1 {
      padding-top: 87px;
    }
  }
  .offices {
    .row {
      margin-bottom: 80px;
    }
  }
  .product-description-sm {
    display: none;
  }
  .news-item {
    .gradient-btn {
      margin-top: 65px;
    }
  }
  .news {
    h1 {
      padding-top: 90px;
    }
  }
  .program {
    h1 {
      padding-top: 70px;
    }
  }
}

@media (min-width: 1200px) {
  .openSubmenu {
    display: none;
  }
  header .header-btm {
    .drop-menu {

      &.with-columns {
        display: flex;
      }
    }

    .nav {
      margin-left: -15px;
    }

    .nav-item {
      position: relative;
      padding: 14px 0;

      &.withSubmenu:hover .nav-link:after {
        content: url("../media/shevron2_hover.svg") !important;
      }

      &:hover {
        .drop-menu {
          visibility: visible;
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);
          transition-delay: 0s, 0s, 0.3s;
        }

        .nav-link {
          color: $color-blue;
        }
      }

      &:hover:after {
        left: 0;
        right: auto;
        width: 100%
      }

      &:after {
        content: '';
        position: absolute;
        height: 4px;
        background: $color-blue;
        top: calc(100% - 2px);
        transition: all 0.2s ease-in-out;
        right: 0;
        width: 0;
        z-index: 2;
      }
    }

    .drop-menu {
      padding: 30px 0;
      box-shadow: 0 3px 8px #C4C4C4;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.01s, color 0.2s 0.5s;
      background-color: #FFFFFF;


      ul li {
        border-left: 4px solid #FFFFFF;
        padding-left: 30px;
        margin-left: -10px;

        &:hover {
          border-left: 4px solid $color-light-blue;
        }
      }

      .dropdown-item {
        padding-left: 16px;
        border-left: 4px solid #FFFFFF;

        &:hover {
          border-left: 4px solid $color-light-blue;
        }
      }

      .menu-column:last-child {
        ul li {
          border-right: 4px solid #FFFFFF;
          padding-right: 30px;
          padding-left: 15px;
          border-left: none;

          &:hover {
            border-right: 4px solid $color-light-blue;
          }
        }

        .dropdown-item {
          padding-right: 16px !important;
          border-right: 4px solid #FFFFFF;
          border-left: none;
          padding-left: 0;

          &:hover {
            border-right: 4px solid $color-light-blue;
          }
        }
      }
    }

  }
  header.scrolled .header-btm {
    .logo-sm {
      display: block;
    }
  }
  .close-menu-btn {
    display: none;
  }
  .priority-phones {
    li:first-child {
      margin-right: 25px;
    }
  }
  body .top_banner_slider {
    .banner {
      height: calc(100vh - 132px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header-btm .logo {
    display: block !important;
  }
}