@media (max-width: 575.98px) { }

@media (max-width: 767.98px) {
  main h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .news-item .gradient-btn {
    margin-bottom: 55px;
  }
  .news-item p {
    font-size: 14px;
    line-height: 21px;
  }
  .news-item .news-date {
    font-size: 15px;
  }
  .news-descr {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .program-descr-wrap {
    margin-bottom: 48px;
  }
}

@media (max-width: 991.98px) {
  .design-pr {
    display: none;
  }
}

@media (max-width: 1199.98px) {  }



@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {
  main {
    padding-bottom: 260px;
  }
  .offices {
    .row {
      margin-bottom: 80px;
    }
  }
}

@media (min-width: 1200px) {  }