.news {
  padding-bottom: 275px;
  background: linear-gradient(179.14deg, rgba(245, 245, 245, 0.6) 7.74%, #FFFFFF 91.34%);
  position: relative;
  h1 {
    color: $color-violet;
  }

  .news-grid {
    margin-bottom: 32px;
  }
}


