.news-item {
  position: relative;
  h1 {
    text-align: center;
    margin-bottom: 62px;
    padding-top: 87px;
  }
  .news-date {
    color: #7F899D;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .news-descr {
    font-weight: $semibold;
    font-size: 24px;
    color: #222222;
    margin-bottom: 44px;
    img {
      display: block;
      margin: 34px auto 0;
      width: 100%;
      max-width: 100%;
    }
  }
  .back-btn {
    margin-top: 80px;
    text-align: right;
    .cta {
      position: relative;
      margin: auto;
      padding: 19px 22px;
      transition: all .2s ease;
      &:before {
        content: "";
        position: absolute;
        top: 8px;
        right: 0;
        display: block;
        border-radius: 30px;
        background: linear-gradient(90deg, #0085E6 0%, #61C2EF 100%);
        width: 48px;
        height: 48px;
        transition: all .3s ease;
      }

      span {
        position: relative;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        vertical-align: middle;
        color: $color-violet;
      }

      img {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all .3s ease;
      }

      &:hover {
        &:before{
          width: 100%;
          img {
            transform: translateX(0)
          }
        }
      }
      &:active {
        transform: scale(.96)
      }
    }
  }
  .gradient-btn {
    width: 166px;
    .fas {
      color: #FFFFFF;
      font-size: 28px;
      margin-right: 15px;
    }

  }
  a {
    color: $color-blue;
    &:hover {
      color: $color-light-blue;
    }
  }
}

.news-img {
  .slick-slide {
    border: none;
    &:focus {
      outline: none;
    }
  }
  img {
    max-width: 100%;
    padding: 0 15px;
    width: 100%;
    height: 232px;
    object-fit: cover;
  }
  .slick-dots {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
      button {
        border: none;
        width: 4px;
        height: 4px;
        background: #61C2EF;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
      }
    }
  }
}

