.offices {
  h1 {
    margin-bottom: 77px;
  }
  h2 {
    margin-bottom: 35px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .contact-person {
    margin-top: 30px;
  }
  .map-wrap {
    display: flex;
    justify-content: center;
  }

}